.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg{
  list-style: none;
  
}
ul{
  display: flex;
  gap: 10px;
}
.header{
  align-items: center;
  
  justify-content: space-between;
  display: flex;  
}
.btn{
  width: 200px;
  height: 25px;
}
.container {
   max-width: 1840px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center ; */
}
.sectionOne{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionOne button{
  border-radius: 30px;
  width: 200px;
  height: 50px;
}
.sectionOne h1{
  font-size: 72px;
}
ul{
  gap: 40px;
}
.btn{
  display: flex;
  justify-content: space-between;
}
.div{
  display: flex;
  align-items: center;
}
.sectionTwo{
  height: 400px;
  background-color: saddlebrown;

}
.sectionThree{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  
}
.sectionThree button{
  border-radius: 30px;
  height: 50px;
  width: 200px;
}
footer{
  /* width: 1440px; */
  height: 200px;
  background-color: black;
  color: white;

  align-items: center;
}
.footer{
  align-items: center;
  
  justify-content: space-between;
  display: flex;
}